body {
    font-family: 'courier', sans-serif;
    color: #58acff;
    line-height: 2;
    background-color: rgb(250, 220, 248);
}

h1, h2 {
    color: #15304c;
    font-family: Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
body {
    font-size: 26px;
    text-align: center;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    text-align: left; /* Reset text alignment for specific sections if needed */
}

/* Additional styling for specific sections */
h1 {
    color: #0066cc; /* Customize the header text color */
}

#films {
    margin-top: 20px; /* Adjust the margin as needed */
}

ol {
    list-style-position: inside;
}

section img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Make sure images don't exceed their container width */
}

#video iframe {
    display: block;
    margin: 0 auto;
}

footer {
    margin-top: 20px; /* Adjust the margin as needed */
}
div {
    color: rgb(227, 102, 148);
    font-family: Helvetica, sans-serif;
    font-size: x-large;
    background-color: #e9b9b9;
    padding: 20px;
    transition: background-color 0.3s ease;
}
.positioned-div{
        position: fixed;
        top: 10px;
        right: 10px;
}
.enlarge-on-hover {
    transition: background-color 0.3s ease;
}

.enlarge-on-hover:hover {
background-color: rgb(67, 67, 238);
}
.color-change-div {
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-change-div:hover {
    color: rgb(234, 255, 0);
}